---
const currentYear = new Date().getFullYear()
---

<footer class="mt-8 bg-gray-800 border-gray-700 text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div>
      Proudly built with <a href="https://astro.build/" class="transition hover:ease-in-out hover:text-coolred font-semibold" target="_blank">Astro</a> | &copy; 2021 - {currentYear}
    </div>
    <div>
      <a target="_blank" href="https://www.buymeacoffee.com/mrdannael">
        <img class="h-12" src="/react-coolicons/coffee.svg" alt="buy me a coffee" />
      </a>
    </div>
  </div>
</footer>