---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { Icon } from 'astro-icon';

const response = await fetch('https://registry.npmjs.org/react-coolicons/latest');
const npmResponse = await response.json();
---

<nav class="bg-gray-800 border-gray-700 sticky top-0 z-10">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-1 rtl:space-x-reverse">
        <img src="/react-coolicons/favicon.webp" class="h-8" alt="Coolicons logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{title}</span>
    </a>
    <div class="w-full md:block md:w-auto">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
        <li>
          <a href="https://github.com/mrdannael/react-coolicons" title="Github" class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <Icon name="mdi:github" class="w-8"/>
          </a>
        </li>
        <li>
          <a href="https://coolicons.cool/" target="_blank" title="Coolicons page" class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <Icon name="mdi:external-link" class="w-8"/>
          </a>
        </li>
        <li title="Package version" class="flex flex-row items-center py-2 px-3 md:p-0 text-gray-900 rounded dark:text-white">
          <Icon name="system-uicons:versions" class="w-8"/> 
          <span class="ml-2 text-xs">v{npmResponse.version}</span>
        </li>
      </ul>
    </div>
  </div>
</nav>